
body {
  /*background-image: url('images/background.jpg'); */
  /*background-color: #d1d2de; */
  background-image: url('https://media1.giphy.com/media/U3qYN8S0j3bpK/giphy.gif?cid=ecf05e474n319qqry7fg05m0x8m0rrtdj9on58qgjsz973z6&rid=giphy.gif');
  background-size: cover;
  margin: 0;
}
a {
    text-decoration: none !important;
}
h1 {
  font-family: "Arial",
  font-weight: bold;
  font-size: 5.5vw;
  color: #F7F7F7;
}
h2 {
  font-family: "Arial",
  font-weight: bold;
  font-size: 3vw;
  color: #F7F7F7;
}

/*(br {
  content: "";
  margin: 1em;
  display: block;
  font-size: 5%;
} */

#lineBreak {
  content: "";
  display: block;
  font-size: 1%;
}
  .fa {
  padding: 50px;
  font-size: 100px !important;
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
    color: white;
}

.fas {
  padding: 50px;
  font-size: 100px !important;
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }

.fas:hover {
    opacity: 0.7;
    color: white;
}

i {
  padding: 10px;
  font-size: 90px !important;
  width: 20px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
img {
  width: 90px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0%;
  border-radius: 100%;
}
i:hover {
	opacity:  0.7;
}

.card-body {
  background-color: #2d2e31;
  background-clip: border-box;
  border: 2px solid #000000;
  border-radius: 0.25rem;
}

.fa-linkedin {
  background: #cae2ea;
  color: #00a0dc;
}
.fa-linkedin:hover {
  background: #00a0dc;
  color: #cae2ea;
}


.fa-basketball-ball {
  background: #fff0d4;
  color: orange;
}
.fa-basketball-ball:hover {
  background: orange;
  color: #fff0d4;
}



.fa-github {
	background: #e8cfff;
	color: #8d6cab;
}
.fa-github:hover {
  color: #e8cfff;
  background: #8d6cab;
  opacity: 0.7;
}


.fa-envelope-o {
	background: #ffa9a6;
	color: #d9534f;
}
.fa-envelope-o:hover {
  background: #d9534f;
  color: #ffa9a6;
}


.fa-calculator {
  background: #d2ffd2;
  color: #5cb85c;
}
.fa-calculator:hover {
  background: #5cb85c;
  color: #d2ffd2;
}

.devicon-linux-plain {
  background-color: #ffd4b0;
}

.devicon-express-original-wordmark {
  background-color: #d2ffd2;
}

.resButton {
	height: 125%;
	width: 30%;
	font-size: 130%;
}

@media only screen and (max-width:1024px) { 
  .resButton { width: 100%; height: 125%; font-size: 115%;}
  .fa {	  padding: 25px;
		  font-size: 40px !important;
		  width: 90px;
		  text-align: center;
		  text-decoration: none;
		  margin: 5px 2px;
		  border-radius: 50%;}
  .fas {   padding: 25px;
  font-size: 40px !important;
  width: 90px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;}
  	i {  padding: 10px;
		  font-size: 60px !important;
		  width: 20px;
		  text-align: center;
		  text-decoration: none;
		  margin: 5px 2px;
		  border-radius: 50%; }
    h2 {
      font-family: "Arial Black", Gadget, sans-serif;
      font-size: 5.5vw;
    }
    h1 {
      font-family: "Arial Black", Gadget, sans-serif;
      font-size: 7vw;
    }
}



