
body {
  background-image: url('images/background.jpg');
  /*background-color: #d1d2de; */
  margin: 0;
}
a {
    text-decoration: none !important;
}
h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 5.5vw;
}
h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 3vw;
}

/*(br {
  content: "";
  margin: 1em;
  display: block;
  font-size: 5%;
} */

#lineBreak {
  content: "";
  display: block;
  font-size: 1%;
}
  .fa {
  padding: 50px;
  font-size: 100px !important;
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
    color: white;
}
.card-body {
  background-color: #FAFCFD;
}
i {
  padding: 10px;
  font-size: 90px !important;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
/*i {
  padding: 0.25vw;
  font-size: 10vw !important;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
} */

i:hover {
	opacity:  0.8;
}

.fa-linkedin {
  background: #383A3B;
  color: white;
}

.fa-github {
	background: #383A3B;
	color: white;
}
.fa-envelope-o {
	background: #383A3B;
	color: white;
}
.fa-android {
	background: #383A3B;
	color: white;
}
.resButton {
	height: 125%;
	width: 25%;
	font-size: 115%;
}

@media only screen and (max-width:1024px) { 
  .resButton { width: 100%; height: 125%; font-size: 115%;}
  .fa {	  padding: 25px;
		  font-size: 50px !important;
		  width: 100px;
		  text-align: center;
		  text-decoration: none;
		  margin: 5px 2px;
		  border-radius: 50%;}
  	i {  padding: 10px;
		  font-size: 60px !important;
		  width: 20px;
		  text-align: center;
		  text-decoration: none;
		  margin: 5px 2px;
		  border-radius: 50%; }
    h2 {
      font-family: "Arial Black", Gadget, sans-serif;
      font-size: 5.5vw;
    }
    h1 {
      font-family: "Arial Black", Gadget, sans-serif;
      font-size: 7vw;
    }
}

